@import url('https://use.fontawesome.com/releases/v5.2.0/css/all.css');
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css');

html, body {
    font-size: 14px;
}

h1, h2, h3, h4, h5, h6, .row {
    margin: 0;
}

.nav-tabs {
    margin-bottom: 2em;
}

.row {
    display: block;
}

.row:before,
.row:after {
    display: table;
    content: " ";
}

.row:after {
    clear: both;
}

header {
    padding: 20px 0;
    background-color: rgb(25, 25, 25);
    text-align: center;
    color: white;
    margin-bottom: 1.5em;
}

header .row:not(:last-child) {
    margin-bottom: 1em;
}

header .container {
    position: relative;
}

header .admin-link {
    position: absolute;
    right: 20px;
    font-weight: bold;
}

@media(max-width: 767px) {
    .product {
        margin-bottom: 2em;
    }
}

.product > *:not(.product-image) {
    padding-top: 1em;
    text-align: center;
}

.product-price {
    font-weight: bold;
}

.product-image {
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.cart-icon {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    color: rgb(25, 25, 25);
    background-color: white;
    border-radius: 50%;
}

.cart-icon span {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
}

.sub-nav.categories {
    text-align: center;
}

.inner-body > .row {
    padding-bottom: 2em;
}

.cart-item-options > form {
    display: inline-block;
}

form > * {
    margin-bottom: 1em;
}

.msg {
    padding: 10px 0;
    text-align: center;
    font-weight: bold;
    margin-bottom: 1em;
}

.tab-content table {
    width: 100%;
}

.tab-content tr > * {
    padding: .5em 0;
}

.tab-content h1,
.tab-content h2,
.tab-content h3,
.tab-content h4,
.tab-content h5,
.tab-content h6 {
    text-align: center;
    margin-bottom: .5em;
}
