@import url('https://use.fontawesome.com/releases/v5.2.0/css/all.css');
@import url('https://fonts.googleapis.com/css?family=Questrial');

html, body {
    /*font-family: Questrial;*/
}

h1, h2, h3, h4, h5, h6, .row {
    margin: 0;
}

.row {
    display: block;
}

header {
    padding: 20px 0;
    background-color: rgb(25, 25, 25);
    text-align: center;
    color: white;
    margin-bottom: 1.5em;
}

header .row:not(:last-child) {
    margin-bottom: 1em;
}

@media(max-width: 767px) {
    .product {
        margin-bottom: 2em;
    }
}

.product > *:not(.product-image) {
    padding-top: 1em;
    text-align: center;
}

.product-price {
    font-weight: bold;
}

.product-image {
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.cart-icon {
    position: relative;
    display: block;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 40px;
    color: rgb(25, 25, 25);
    background-color: white;
    border-radius: 50%;
}

.cart-icon span {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
}

.sub-nav.categories {
    text-align: center;
    padding-bottom: 2em;
}